<section class="login">
  <p-card header="Đăng nhập" class="login-card">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText placeholder="Tên đăng nhập" class="shadow-none" />
    </div>
    <div class="p-inputgroup mt-3">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input pInputText placeholder="Mật khẩu" class="shadow-none" type={{type}}/>
      <span class="p-inputgroup-addon login-eye" (click)="actionEye()">
        <i [class]="eye"></i>
      </span>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Đăng nhập"
        styleClass="col-12"
      ></p-button>
    </ng-template>
  </p-card>
</section>
